<div class="root-container">
  <div class="game-name">
    <span>
      {{title}}
    </span>
  </div>

  <div class="game-question text-large centered">
    {{placeholder + currentQuestion}}
  </div>

  <div class="team-element team-1 team-container"
       [class.team-enabled]="isFirstTeamVisible()">
    <span class="row-1 col-2 centered text-large">
      Team 1
    </span>
    <div id="odometer1" class="odometer row-2 col-2 centered"></div>
    <div class="row-3 col-2 centered">
      <img [src]="teamOneIcon">
    </div>
    <div class="row-4 col-2">
      <app-indicator [indicatorColor]="1"></app-indicator>
    </div>
  </div>

  <div class="team-element team-2 team-container"
       [class.team-enabled]="isFirstTeamVisible()">
    <span class="row-1 col-2 centered text-large">
      Team 2
    </span>
    <div id="odometer2" class="odometer row-2 col-2 centered"></div>
    <div class="row-3 col-2 centered">
      <img [src]="teamTwoIcon">
    </div>
    <div class="row-4 col-2">
      <app-indicator [indicatorColor]="1"></app-indicator>
    </div>
  </div>

  <div class="choices choices-container">
    <app-answer-card class="single-choice single-choice-1"
                     [answer]="answers[0]"></app-answer-card>
    <app-answer-card class="single-choice single-choice-2"
                     [answer]="answers[1]"></app-answer-card>
    <app-answer-card class="single-choice single-choice-3"
                     [answer]="answers[2]"></app-answer-card>
    <app-answer-card class="single-choice single-choice-4"
                     [answer]="answers[3]"></app-answer-card>
    <app-answer-card class="single-choice single-choice-5"
                     [answer]="answers[4]"></app-answer-card>
  </div>

  <div class="controls controls-container">

  <div class="col-1 row-1">
    <img [src]="backIcon">
  </div>
  <div class="col-3 row-1">
    <img [src]="nextIcon">
  </div>
  </div>
</div>


