body {
  width: 100%;
  height: 100%;
  font-family: 'Play', sans-serif;
  margin:0;
  overflow:hidden;
}

.centered {
  display:block;
  margin:auto;
}

.text-large {
  font-size: 40px;
}

.text-large-2x {
  font-size: 80px;
}

.col-1 {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.col-2 {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.col-3 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

.col-4 {
  grid-column-start: 4;
  grid-column-end: span 1;
}

.odometer {
	font-family: 'Staatliches', cursive;
}

.team-blue {
	color:#056CFF;
}

.team-red {
	color:#FF4255;
}
